@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/* css */
:root{
    --header-height: 3.5rem;
    
    /* Colors */
    /*Color mode HSL(hue, saturation, lightness)*/
    /* 
        Change favorite color
        Default: hsl(162, 100%, 40%)
        Orange: hsl(14, 100%, 65%) - Blue: hsl(210, 100%, 70%)
        Pink: hsl(356, 100%, 75%) - Purple: hsl(250, 100%, 75%)

        For more colors visit: https://colors.dopely.top/color-pedia
  
    */
    
    --hue: 210;
    --first-color: hsl(var(--hue), 100%, 50%);
    --first-color-alt: hsl(var(--hue), 56%, 35%);
    --title-color: hsl(228, 15%, 15%);
    --text-color: hsl(228, 15%, 20%);
    --body-color: hsl(228, 8%, 95%);
    --container-color: hsl(228, 8%, 65%);
      
    /* Font and typography */
    /*.5rem = 8px | 1rem = 16px ...*/
    --body-font: "Poppins", sans-serif;
    --biggest-font-size: 2rem;
    --bigger-font-size: 1.25rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    /* Font weight */
    --font-regular: 400;
    --font-medium: 500;
    --font-semi-bold: 600;

    /* z index */
    --z-tooltip: 10;
    --z-fixed: 100;
}

/* Responsive typography */
@media screen and (min-width: 1152px) {
    :root {
        --biggest-font-size: 4rem;
        --bigger-font-size: 2rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}


/* BASE */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}
input,
textarea,
button,
body {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
}
    
body {
    background-color: var(--body-color);
    color: var(--text-color);
}

input,
textarea,
button {
  outline: none;
  border: none;
}

h1, h2, h3, h4 {
  color: var(--body-color);
  font-weight: var(--font-medium);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

/* REUSABLE CSS CLASSES */
.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.section {
  padding-block: 5rem 2rem;
}

.section_title, 
.section_subtitle {
  text-align: center;
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

.section_title {
  font-size: var(--h1-font-size);
  margin-bottom: 1.5rem;
}

.section_subtitle {
  font-size: var(--small-font-size);
  margin-bottom: .25rem;
}

.section_subtitle span {
  color: var(--first-color);
}

.main {
  overflow: hidden; /* For animation ScrollReveal */
}

/* HEADER & NAV */
.header{
    position: fixed;
    width: 100%;
    background-color: var(--title-color);
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
  }
  
  .nav{
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;  
  }
  .nav_link:hover,
  .nav_link:active,
  nav a:is(:link, :active, :visited).active{
    color: var(--first-color);
  }
  .nav_link{
    color: var(--body-color);
  }
  
  .nav_list{
    display:flex;
    justify-content: space-between;
    align-items: left;
  }
  
  .nav_logo{
    color: var(--body-color);
    font-weight: var(--font-medium);
    font-size: var(--h1-font-size);
  }
  
  .nav_logo span{
    color: var(--first-color);
    font-size: var(--h3-font-size);
  }
  
  .nav_logo:hover{
    color: var(--first-color);
  }
  .nav_logo span:hover{
    color: var(--body-color);
  }
  
  .nav_toggle,
  .nav_close{
    display: flex;
    font-size: 1.25rem;
    color: var(--body-color);
    cursor: pointer;
  }
  
  
  /* Navigation for mobile devices */
  @media screen and (max-width: 1023px) {
    .nav_menu{
      position: fixed;
      top: 0;
      right: -100%;
      background-color: hsla(0,0%,10%,0.3);
      width: 75%;
      height: 100%;
      padding: 4.5rem 0 0 3rem;
      backdrop-filter: blur(24px);
      -webkit-backdrop-filter: blur(24px);
      transition: right 0.4s;
    }
  
    .nav_list{
      display: flex;
      flex-direction: column;
      row-gap: 3rem;
    }
  
    .nav_link{
      color: var(--body-color);
      font-weight: var(--font-medium);
      transition: color .4s;
    }
  
    .nav_link:hover{
      color: var(--first-color);
    }
  
    .nav_close{
      position: absolute;
      top: 1rem;
      right: 1.5rem;
    }
  }
  
  /* Show menu */
  .show-menu{
    right: 0;
  }
  
  
  /* Add blur to header */
  .blur-header{
    background-color: transparent;
  }
  
  .blur-header::after{
    content: '';
    position: absolute;
    width: 1000%;
    height: 100%;
    background-color: hsla(0,0%,0%,0.5);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(24px);
    top: 0;
    left: 0;
    z-index: -1;
  }
  

  
/* FOOTER */
.footer{
    background-color: var(--title-color);
    padding-block: 3.5rem 2rem;
  }
  
  .footer_container{
    row-gap: 2rem;
    text-align: center;
  }
  
  .footer_title{
    font-size: var(--h1-font-size);
    font-weight: var(--font-semi-bold);
    margin-bottom: 0.25rem;
  }
  
  .footer_title span{
    color: var(--first-color);
    font-size: var(--h3-font-size);
  }
  
  .footer_edu{
    font-size: var(--normal-font-size);
  }
  
  .footer_social{
    display: flex;
    justify-content: center;
    column-gap: 1.25rem;
  }
  
  .footer_social-link{
    display: flex;
    background-color: var(--first-color-alt);
    padding: 0.5rem;
    color: var(--body-color);
    font-size: 1.5rem;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    transition: transform 0.4s;
  }
  
  .footer_social-link:hover{
    transform: translateY(-0.25rem);
  }
  
  .footer_copy{
    color: var(--container-color);
    font-size: var(--smaller-font-size);
    margin-top: 2rem;
  }
  
  
  /* SCROLL BAR */
  ::-webkit-scrollbar{
    width: .6rem;
    border-radius: 0.5rem;
    background-color: hsl(228, 12%, 25%);
  }
  
  ::-webkit-scrollbar-thumb{
    background-color: hsl(228, 8%, 35%);
    border-radius: 0.5rem;
  }
  
  ::-webkit-scrollbar-thumb:hover{
    background-color: hsl(228, 8%, 45%);
  }
  
  /* SCROLL UP */
  .scrollup{
    position: fixed;
    right: 1rem;
    bottom: -50%;
    background-color: var(--text-color);
    padding: 6px;
    display: inline-flex;
    border-radius: 50%;
    color: var(--first-color);
    font-size: 1.5rem;
    box-shadow: 0 4px 12px hsla(228, 15%, 8%, .4);
    z-index: var(--z-tooltip);
    transition: bottom .4s, transform .4s;
  }
  
  .scrollup:hover{
    transform: translateY(-0.25rem);
  }
  
/* Show Scroll Up */
.show-scroll{
    bottom: 3rem;
}
 
/*edu box*/
.edu,
.edu2{
    background-color: var(--container-color);
}

.edu_container1,
.edu_container2{
    row-gap: 2.5rem;
}
  
.edu_data,
.edu2_data{
    text-align: justify;
}

.edu_description{
    margin-bottom: 2rem;
}

.edu2_description{
    margin-bottom: 2rem;
}

.edu_image,
.edu2_image{
    justify-self: center;
}

.edu2_blob,
.edu_blob{
    width: 320px;
    fill: var(--first-color);
    filter: drop-shadow(5px 12px 5px hsla(var(--hue), 10%, 10%)) drop-shadow(-5px -5px 5px hsla(var(--hue), 10%, 10%));
}

/* interest */
.interest{
  background-color: var(--container-color);
}

hr{ 
  border: 0; 
  height: 3px; 
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0); 
}


.sport_data{
  display: grid;
}

.int_blob{
  margin-block: 1rem;
  justify-self: center;
  width: 180px;
  height: 150px;
  clip-path:  polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%); 
}

.interest_container{
  row-gap: 2rem;
  justify-content: center;
  padding-block: 1rem;
}

.int_card{
  position: relative;
  border-radius: 1rem;
  overflow: hidden;
}

.int_img{
  min-height: 352px;
  min-width: 306px;
  height: 100%;
  width: 100%;
}

.modal{
  position: absolute;
  left: 0;
  bottom: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, 
              hsla(0, 10%, 89%, 0.5) 0%,
              hsla(var(--hue), 100%, 10%) 100%);
  backdrop-filter: blur(5px);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: bottom .4s;
}

.int_icon{
  font-size:  3rem;
}
.int_subtitle{
  color: var(--body-color);
  text-align: justify;
  display: block;
  margin: 1rem 1.5rem;
  font-size: var(--small-font-size);
}

.int_title{
  font-size: var(--h2-font-size);
  margin: 2px;
}

.int_card:hover .modal{
  bottom: 0;
}

/* expe box */
.expe{
  background-color: var(--container-color);
}

.expe_container{
  padding-block: 1rem;
}

.exp1,
.exp2{
  padding-block: 1rem;
}

.exp1_container,
.exp2_container{
  row-gap: 2.5rem;
}

.expe_card{
  text-align: center;
  background-color: var(--body-color);
  padding: 3rem 1.25rem;
  border-radius: 1rem;
  border: 2px solid var(--body-color);
  transition: border .4s;
}

.expe_icon{
  padding: 0 1px;
  font-size: 4rem;
  color: var(--first-color);
  margin-bottom: .75rem;

}

.expe_title{
  color: var(--title-color);
  font-size: var(--h2-font-size);
  margin-bottom: 1.5rem;
}

.expe_description{
  color: var(--text-color);
  text-align:justify;
  margin-bottom: 1.5rem;
}

.expe_card:hover{
  border:  solid var(--first-color);
}

.exp1_data,
.exp2_data{
  text-align:center;
}

.exp1_image,
.exp2_image{
  justify-self: center;
}

.exp1_img,
.exp2_img{
  width: 320px;
  border-radius: 1.5rem;
  filter: drop-shadow(5px 12px 5px hsla(var(--hue), 10%, 10%));
  overflow: hidden;
}

/* ============ BREAKPOINTS ============ */
/* For small devices */
@media screen and (max-width: 320px) {
    .container{
      margin-inline: 1rem;
    }

    .expe_card{
      padding-block: 1.5rem;
    }
}

/* For medium devices */
@media screen and (min-width: 576px){
    .edu_container1,
    .edu_container2,
    .exp1_container,
    .exp2_container,
    .interest_container{
      grid-template-columns: 400px;
      justify-content: center;
    }
}
@media screen and (min-width: 768px){

    .nav_menu{
      width: 55%;
    }

    .edu_container1,
    .edu_container2,
    .exp1_container,
    .exp2_container{
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    }

    .edu_data,
    .exp1_data,
    :is(.edu_data, .exp1_data) :is(.section_subtitle, .section_title, .expe_icon, .expe_title, .expe_description){
        text-align: left;
    }

    .edu2_data,
    .exp2_data,
    :is(.edu2_data, .exp2_data) :is(.section_subtitle, .section_title, .expe_icon, .expe_title, .expe_description){
        text-align: right;
    }

    .edu_blob,
    .edu2_blob{
      width: 400px;
    }

    .exp1_img,
    .exp2_img{
      width: 400px;
    }

    .exp1_img{
      clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
      border: 3px solid var(--first-color);
      border-radius: 2rem;
      
    }
    .exp2_img{
      clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
      border: 3px solid var(--first-color);
      border-radius: 2rem;
    }

    .edu_data,
    .exp1_data{
      order: 1;
    }
    
    .interest_container{
      grid-template-columns: repeat(2, 352px);
    }
}  


/* For large devices */
@media screen and (min-width: 1023px){
    .section{
      padding-block: 7rem 2rem;
    }
  
    .section_subtitle{
      font-size: var(--normal-font-size);
    }
  
    .nav{
      height: calc(--header-height) + 1.5rem;
    }
  
    .nav_close,
    .nav_toggle{
      display: none;
    }
  
    .nav_list{
      flex-direction: row;
      column-gap: 3rem;
    }
  
    .nav_menu{
      width: initial;
    }
  
    .blur-header::after{
      backdrop-filter: blur(25px);
    }
}

@media screen and (min-width: 1152px) {
    .container{
      margin-inline: auto;
    }

    .edu_container1,
    .exp1_container{
        grid-template-columns: 550px 460px;
        column-gap: 4.5rem;
    }

    .edu_blob,
    .exp1_img,
    .edu2_blob,
    .exp2_img{
        width: 550px;
    }

    .edu_description,
    .edu2_description,
    .expe_description{
        margin-bottom: 3rem;
    }
    
    .edu_container2,
    .exp2_container{
        grid-template-columns: 460px 550px;
        column-gap: 4.5rem;
    }
    
    .interest_container{
      grid-template-columns: repeat(3, 350px);
      row-gap: 2rem;
      padding-block: 2.5rem 4rem;
    }

    .footer{
        padding-block: 4.5rem 4rem;
    }
    
    .footer_container{
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
        text-align: initial;
    }
    
    .footer_title{
        font-size: var(--bigger-font-size);
    }

    .footer_social{
        column-gap: 1.5rem;
    }
    
    .footer_copy{
        margin: 0;
        justify-self: flex-end;
    }
    
    .scrollup{
        right: 3rem;
    }
}